<div class="cart_page">

    <div class="cart_top">
        <h1>Shopping Cart</h1>
    </div>

    <!-- left side -->

    <div class="cart_left">
        <div class="order_box">
            <div class="box_item">
                <div class="order_img"><img src="../../assets/img/spec1.png" alt=""></div>
                <div class="order_details">
                    <div class="details_top">
                        <div class="top_row">
                            <h3>Burberry Eyeglasses Look</h3>
                            <div class="inputBox">
                                <input type="number" id="" value="1">
                            </div>
                            <a>Rs. 1500.00</a>
                            <a><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                        <div class="top_row">
                            <p><span>Color:</span>Black, Red</p>
                            <p><span>Size:</span>Eye 52</p>
                            <p><span>Features:</span>UV Protection Glare</p>
                            <p><span>Features Price:</span> Rs. 750.00</p>
                        </div>
                    </div>
                    <div class="details_bottom">
                        <div class="refraction_row">
                            <p>Right Eye:</p>
                            <span>(S) -2.50</span>
                            <span>(C) +3.00</span>
                            <span>(A) 090</span>
                            <span>(A) +0.00</span>
                        </div>
                        <div class="refraction_row">
                            <p>Left Eye:</p>
                            <span>(S) -1.50</span>
                            <span>(C) +2.00</span>
                            <span>(A) 090</span>
                            <span>(A) +0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order_box">
            <div class="box_item">
                <div class="order_img"><img src="../../assets/img/spec1.png" alt=""></div>
                <div class="order_details">
                    <div class="details_top">
                        <div class="top_row">
                            <h3>Burberry Eyeglasses Look</h3>
                            <div class="inputBox">
                                <input type="number" id="" value="1">
                            </div>
                            <a>Rs. 1500.00</a>
                            <a><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                        <div class="top_row">
                            <p><span>Color:</span>Black, Red</p>
                            <p><span>Size:</span>Eye 52</p>
                            <p><span>Features:</span>UV Protection Glare</p>
                            <p><span>Features Price:</span> Rs. 750.00</p>
                        </div>
                    </div>
                    <div class="details_bottom">
                        <div class="refraction_row">
                            <p>Right Eye:</p>
                            <span>(S) -2.50</span>
                            <span>(C) +3.00</span>
                            <span>(A) 090</span>
                            <span>(A) +0.00</span>
                        </div>
                        <div class="refraction_row">
                            <p>Left Eye:</p>
                            <span>(S) -1.50</span>
                            <span>(C) +2.00</span>
                            <span>(A) 090</span>
                            <span>(A) +0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order_box">
            <div class="box_item">
                <div class="order_img"><img src="../../assets/img/spec1.png" alt=""></div>
                <div class="order_details">
                    <div class="details_top">
                        <div class="top_row">
                            <h3>Burberry Eyeglasses Look</h3>
                            <div class="inputBox">
                                <input type="number" id="" value="1">
                            </div>
                            <a>Rs. 1500.00</a>
                            <a><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                        <div class="top_row">
                            <p><span>Color:</span>Black, Red</p>
                            <p><span>Size:</span>Eye 52</p>
                            <p><span>Features:</span>UV Protection Glare</p>
                            <p><span>Features Price:</span> Rs. 750.00</p>
                        </div>
                    </div>
                    <div class="details_bottom">
                        <div class="refraction_row">
                            <p>Right Eye:</p>
                            <span>(S) -2.50</span>
                            <span>(C) +3.00</span>
                            <span>(A) 090</span>
                            <span>(A) +0.00</span>
                        </div>
                        <div class="refraction_row">
                            <p>Left Eye:</p>
                            <span>(S) -1.50</span>
                            <span>(C) +2.00</span>
                            <span>(A) 090</span>
                            <span>(A) +0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- right side -->

    <div class="cart_right">
        <div class="cart_cal_box">
            <div class="cal_top">
                <div class="row_box">
                    <p>Sub Total</p>
                    <a >Rs. 1510.00</a>
                </div>
                <div class="row_box">
                    <p>Shipping Charges</p>
                    <a >Rs. 60.00</a>
                </div>
                <div class="row_box">
                    <p>VAT (20%)</p>
                    <a >Rs. 47.00</a>
                </div>
            </div>
            <div class="cal_bottom">
                <p>Total (tax incl.)</p>
                <a>Rs. 1617.00</a>
            </div>
        </div>
        <div class="cart_btns">
            <div class="shopping_btn">
                <button>Continue Shopping</button>
            </div>
            <div class="checkout_btn">
                <button>Checkout</button>
            </div>
        </div>
        <div class="cart_address">
            <div class="address_top">
                <h4>Shipping Address</h4>
                <a>Add Address</a>
            </div>
            <div class="address_bottom">
                <h5>Brett Garcia - Home</h5>
                <p>+44 3445 2344 23</p>
                <p>6 Galaxy Apartment, Opposite St Johns Cathedral, 75008, England</p>
            </div>
        </div>
    </div>

</div>