<div class="page_content">
  <div class="heading">
    <h1>Order Management</h1>
  </div>
  <div class="order_manage_table">
    <div class="table_content">
      <div class="table_head">
        <div class="id_box">
          <p>Order ID</p>
        </div>
        <div class="list_box">
          <p>List of Orders</p>
        </div>
        <div class="price_box">
          <p>Price(Rs.)</p>
        </div>
        <div class="address_box">
          <p>Address</p>
        </div>
        <div class="user_box">
          <p>User Details</p>
        </div>
        <div class="action_box">
          <p>Action</p>
        </div>
      </div>
      <div class="table_body">
        <div class="table_row">
          <div class="id_box">
            <p>TXN125879</p>
          </div>
          <div class="list_box">
            <p>3 Product</p>
          </div>
          <div class="price_box">
            <p>500.00</p>
          </div>
          <div class="address_box">
            <p>205, new NTR street, bankura, West Bangal</p>
          </div>
          <div class="user_box">
            <p>Devid Gutta</p>
          </div>
          <div class="action_box">
            <a href="#"><i class="fa-regular fa-eye"></i></a>
          </div>
        </div>
        <div class="table_row">
          <div class="id_box">
            <p>TXN125879</p>
          </div>
          <div class="list_box">
            <p>3 Product</p>
          </div>
          <div class="price_box">
            <p>500.00</p>
          </div>
          <div class="address_box">
            <p>205, new NTR street, bankura, West Bangal</p>
          </div>
          <div class="user_box">
            <p>Devid Gutta</p>
          </div>
          <div class="action_box">
            <a href="#"><i class="fa-regular fa-eye"></i></a>
          </div>
        </div>
        <div class="table_row">
          <div class="id_box">
            <p>TXN125879</p>
          </div>
          <div class="list_box">
            <p>3 Product</p>
          </div>
          <div class="price_box">
            <p>500.00</p>
          </div>
          <div class="address_box">
            <p>205, new NTR street, bankura, West Bangal</p>
          </div>
          <div class="user_box">
            <p>Devid Gutta</p>
          </div>
          <div class="action_box">
            <a href="#"><i class="fa-regular fa-eye"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination_section">
      <div class="prev_btn"><button>Prev</button></div>
      <div class="pagination_number">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
      </div>
      <div class="next_btn"><button>Next</button></div>
    </div>
  </div>
</div>
