<div class="page_content">
  <div class="heading">
    <h1>User Management</h1>
  </div>
  <div class="user_manage_table">
    <div class="table_content">
      <div class="table_head">
        <div class="fname_box">
          <p>First Name</p>
        </div>
        <div class="lname_box">
          <p>Last Name</p>
        </div>
        <div class="email_box">
          <p>Email</p>
        </div>
        <div class="contact_box">
          <p>Contact Number</p>
        </div>
        <div class="verification_box">
          <p>Verification</p>
        </div>
      </div>
      <div class="table_body">
        <div class="table_row">
          <div class="fname_box">
            <p>John</p>
          </div>
          <div class="lname_box">
            <p>Walker</p>
          </div>
          <div class="email_box">
            <p>johnwalker589@gmail.com</p>
          </div>
          <div class="contact_box">
            <p>(240)-568-9802</p>
          </div>
          <div class="verification_box">
            <p>Verified</p>
          </div>
        </div>
        <div class="table_row">
          <div class="fname_box">
            <p>Peter</p>
          </div>
          <div class="lname_box">
            <p>Parker</p>
          </div>
          <div class="email_box">
            <p>peter56879@gmail.com</p>
          </div>
          <div class="contact_box">
            <p>(240)-568-9802</p>
          </div>
          <div class="verification_box">
            <p>Unverified</p>
          </div>
        </div>
        <div class="table_row">
          <div class="fname_box">
            <p>John</p>
          </div>
          <div class="lname_box">
            <p>Walker</p>
          </div>
          <div class="email_box">
            <p>johnwalker589@gmail.com</p>
          </div>
          <div class="contact_box">
            <p>(240)-568-9802</p>
          </div>
          <div class="verification_box">
            <p>Verified</p>
          </div>
        </div>
        <div class="table_row">
          <div class="fname_box">
            <p>John</p>
          </div>
          <div class="lname_box">
            <p>Walker</p>
          </div>
          <div class="email_box">
            <p>johnwalker589@gmail.com</p>
          </div>
          <div class="contact_box">
            <p>(240)-568-9802</p>
          </div>
          <div class="verification_box">
            <p>Verified</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination_section">
      <div class="prev_btn"><button>Prev</button></div>
      <div class="pagination_number">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
      </div>
      <div class="next_btn"><button>Next</button></div>
    </div>
  </div>
</div>
