<div class="footer">
    <div class="footer_top">
        <div class="top_content">
            <div class="content_box box1">
                <div class="boxitem">
                    <div class="logo"><img src="../../../assets/img/LogoLite.png" alt=""></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore maxime nostrum molestiae, quidem eligendi a aliquid sunt cum placeat doloribus temporibus esse, nihil alias fuga, tempora laborum sapiente voluptas fugiat architecto! Repellendus, odit! Quidem ut quaerat nesciunt placeat fugit, libero quibusdam soluta error commodi architecto.</p>
                </div>
            </div>
            <div class="content_box box2">
                <div class="boxitem">
                    <h5>Information</h5>
                    <ul>
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Terms & Condition</a>
                        <a href="#">Privacy & Safety Policies</a>
                        <a href="#">Payment Policies</a>
                        <a href="#">Return Policies</a>
                    </ul>
                </div>
            </div>
            <div class="content_box box3">
                <div class="boxitem">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            <span>502, New design str. Melbourne, san Francisco, CA 94110, United States of America</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            <span>(+01) 123-456-789</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            <span>demo@company.com</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <p>&copy; 2022 Eyestyle. All Rights Reserved.</p>
    </div>
</div>
