<div class="page_content">
  <div class="heading">
    <h1>Dashboard</h1>
  </div>
  <div class="box_section">
    <div class="dash_box">
      <div class="box_item">
        <div class="item">
          <h4>578</h4>
          <p>Total Products</p>
        </div>
        <div class="icon"><i class="fa-solid fa-image"></i></div>
      </div>
    </div>
    <div class="dash_box">
      <div class="box_item">
        <div class="item">
          <h4>1068</h4>
          <p>Total Users</p>
        </div>
        <div class="icon"><i class="fa-solid fa-image"></i></div>
      </div>
    </div>
    <div class="dash_box">
      <div class="box_item">
        <div class="item">
          <h4>200</h4>
          <p>Total Orders</p>
        </div>
        <div class="icon"><i class="fa-solid fa-image"></i></div>
      </div>
    </div>
    <div class="dash_box">
      <div class="box_item">
        <div class="item">
          <h4>578</h4>
          <p>Total Order Amount</p>
        </div>
        <div class="icon"><i class="fa-solid fa-image"></i></div>
      </div>
    </div>
  </div>
</div>
