<div class="page_topNav">
  <div class="nav_item">
    <div class="sidebar_ind"><i class="fa-solid fa-bars"></i></div>
    <div [ngClass]="userOption === true? 'user_profile_box':'user_profile_box active'">
      <div class="prof_img" (click)="viewOptions()"><i class="fa-solid fa-user"></i></div>
      <div class="user_details" (click)="viewOptions()">
        <p>{{name}}</p>
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <div class="option_section">
        <div class="options">
          <li><a href="#">Change Password</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </div>
      </div>
    </div>
  </div>
</div>
