 <div class="page_content">
   <div  class="heading">
     <h1>Product Management</h1>
     <a [routerLink]="['/admin/addproduct']">Add product</a>
   </div>
   <div class="product_manage_table">
     <div class="table_content">
       <div class="table_head">
         <div class="p_name">
           <p>Product Name</p>
         </div>
         <div class="p_price">
           <p>Price(Rs.)</p>
         </div>
         <div class="p_color">
           <p>Colour</p>
         </div>
         <div class="p_feature">
           <p>Product features</p>
         </div>
         <div class="enable_diable">
           <p>Enable / Disable</p>
         </div>
         <div class="action">
           <p>Action</p>
         </div>
       </div>
       <div class="table_body">
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec1.png" alt="">
             <p>Full Rim Metal Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #aea90d;"></span>
             <span style="background: #0d38ae;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec1.png" alt="">
             <p>Full Rim Metal Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #aea90d;"></span>
             <span style="background: #0d38ae;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>
         <div class="table_row">
           <div class="p_name">
             <img src="../../assets/img/spec2.png" alt="">
             <p>Round Eyeglasses</p>
           </div>
           <div class="p_price">
             <p>800.00</p>
           </div>
           <div class="p_color">
             <span style="background: #ae0d23;"></span>
             <span style="background: #000;"></span>
           </div>
           <div class="p_feature">
             <p>Anti-Glare, Anti-fog</p>
           </div>
           <div class="enable_diable">
             <label class="switch">
               <input type="checkbox">
               <span class="slider"></span>
             </label>
           </div>
           <div class="action">
             <a href="#"><i class="fa-regular fa-eye"></i></a>
             <a [routerLink]="['/admin/editproduct']"><i class="fa-regular fa-pen-to-square"></i></a>
           </div>
         </div>

       </div>
     </div>
     <div class="pagination_section">
       <div class="prev_btn"><button>Prev</button></div>
       <div class="pagination_number">
         <a href="#" class="active">1</a>
         <a href="#">2</a>
         <a href="#">3</a>
         <a href="#">4</a>
       </div>
       <div class="next_btn"><button>Next</button></div>
     </div>
   </div>
 </div>
