<div class="page_content">
  <div class="heading">
    <h1><a [routerLink]="['/admin/productmanagement']"><i class="fa-solid fa-angle-left"></i></a> Add Product</h1>
  </div>
  <div class="page_form_sec">
    <div class="form_box_1">
      <div class="box_item">
        <h5>Add Product Photo <span>(maximum 5 photos)</span></h5>
        <div class="image_sec">
          <a href="#"><i class="fa-solid fa-image"></i></a>
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Product Category</h5>
        <div class="input_box">
          <select id="">
            <option value="0">Select Category</option>
            <option value="1">Category 1</option>
            <option value="2">Category 2</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Product Name</h5>
        <div class="input_box">
          <input type="text" placeholder="Enter Product Name">
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Add Colour</h5>
        <div class="color_box">
          <span><i class="fa-solid fa-fill-drip"></i></span>
          <span><i class="fa-solid fa-fill-drip"></i></span>
          <span><i class="fa-solid fa-fill-drip"></i></span>
          <span><i class="fa-solid fa-fill-drip"></i></span>
          <span><i class="fa-solid fa-fill-drip"></i></span>
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Product Price</h5>
        <div class="input_box_1">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <input type="text" placeholder="Enter Price">
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Quantity</h5>
        <div class="input_box">
          <input type="text" placeholder="Enter Quantity">
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Frame Size</h5>
        <div class="input_box">
          <select id="">
            <option value="0">Select Size</option>
            <option value="1">Size 1</option>
            <option value="2">Size 2</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Product Features</h5>
        <div class="input_box">
          <select id="">
            <option value="0">Select Product Features</option>
            <option value="1">Feature 1</option>
            <option value="2">Feature 2</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Product Property</h5>
        <div class="input_box">
          <input type="text" placeholder="Enter Product Property">
        </div>
      </div>
    </div>
    <div class="form_box_2">
      <div class="box_item">
        <h5>Warranty</h5>
        <div class="input_box">
          <input type="text" placeholder="Enter Warranty">
        </div>
      </div>
    </div>
    <div class="form_box_1">
      <div class="box_item">
        <h5>Descriptions</h5>
        <div class="input_box">
          <textarea placeholder="Enter Descriptions"></textarea>
        </div>
      </div>
    </div>
    <div class="form_btn">
      <button>Save</button>
    </div>
  </div>
</div>
