<div class="product_page">

    <!-- left side -->

    <div class="page_left">
        <div class="heading">
            <h3>Filter By</h3>
            <a href="#">Reset</a>
        </div>
        <div class="filter_box">
            <h5>Categories</h5>
            <ul>
                <li>
                    <input type="checkbox" id="cat1" />
                    <label for="cat1">
                        <span>Kid's Eyewear</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="cat2" />
                    <label for="cat2">
                        <span>Women's Eyewear</span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="cat3" />
                    <label for="cat3">
                        <span>Men's Eyewear</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <!-- right side -->

    <div class="page_right">
        <div class="sec_top">
            <div class="show_head">
                <h3>Eye Glasses</h3>
                <p>1-24 products of 200</p>
            </div>
            <div class="show_filter">
                <select  id="">
                    <option value="0">Select</option>
                    <option value="1">Recently Added</option>
                    <option value="2">Top Rated</option>
                    <option value="3">Top Sale</option>
                </select>
            </div>
        </div>
        <div class="product_section">
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec1.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Burberry Eyeglasses Look</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec2.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Ipsum Eyeglasses Look</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec3.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Premium Aviator Sunglasses</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec4.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Armani Exchange AX4029</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec1.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Burberry Eyeglasses Look</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec2.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Ipsum Eyeglasses Look</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec3.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Premium Aviator Sunglasses</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec4.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Armani Exchange AX4029</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec1.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Burberry Eyeglasses Look</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec2.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Ipsum Eyeglasses Look</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec3.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Premium Aviator Sunglasses</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
            <div class="product_box">
                <div class="box_item">
                    <div class="imgBox">
                        <img src="../../assets/img/spec4.png" alt="">
                    </div>
                    <div class="product_brief">
                        <h5>Armani Exchange AX4029</h5>
                        <p>Rs. 1500.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewBtn">
            <a href="#">View All</a>
        </div>
    </div>

</div>