<div class="home_page">

    <!-- banner -->

    <div class="banner">
        <div class="bannerBg">
            <img src="../../assets/img/bannerImg.png" alt="">
        </div>
        <div class="banner_content"></div>
    </div>

    <!-- category -->

    <div class="category">
        <div class="section_content">
            <div class="head">
                <h1>Shop by Categories</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, magni</p>
            </div>
            <div class="category_box_section">
                <div class="category_box">
                    <div class="box_item">
                        <div class="boxBg">
                            <img src="../../assets/img/c1.png" alt="">
                        </div>
                        <div class="box_content">
                            <h3>Kid's Eyewear</h3>
                            <a href="#">Shop Now<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="category_box">
                    <div class="box_item">
                        <div class="boxBg">
                            <img src="../../assets/img/c2.png" alt="">
                        </div>
                        <div class="box_content">
                            <h3>Women's Eyewear</h3>
                            <a href="#">Shop Now<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="category_box">
                    <div class="box_item">
                        <div class="boxBg">
                            <img src="../../assets/img/c3.png" alt="">
                        </div>
                        <div class="box_content">
                            <h3>Men's Eyewear</h3>
                            <a href="#">Shop Now<i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- all product -->

    <div class="allProduct">
        <div class="section_content">
            <div class="head">
                <h1>All Product</h1>
            </div>
            <div class="product_box_section">
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec1.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Burberry Eyeglasses Look</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec2.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Ipsum Eyeglasses Look</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec3.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Premium Aviator Sunglasses</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec4.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Armani Exchange AX4029</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec1.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Burberry Eyeglasses Look</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec2.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Ipsum Eyeglasses Look</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec3.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Premium Aviator Sunglasses</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec4.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Armani Exchange AX4029</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec1.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Burberry Eyeglasses Look</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec2.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Ipsum Eyeglasses Look</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec3.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Premium Aviator Sunglasses</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="box_item">
                        <div class="imgBox">
                            <img src="../../assets/img/spec4.png" alt="">
                        </div>
                        <div class="product_brief">
                            <h5>Armani Exchange AX4029</h5>
                            <p>Rs. 1500.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewBtn">
                <a href="#">View All</a>
            </div>
        </div>
    </div>

</div>